/*
 * Color Scheme
 * 
 * Red: #D92727
 * Orange: #FC8F12
 * Yellow: #FFE433
 * Green: #6FCC43
 * Blue: #0DB8B5
 */

body {
	margin: 0;
}

.cont {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	height: 100vh
}

header {
	height: 70px;
	background-color: #D92727;
}

.leaflet-sidebar-tabs > ul > li.active {
	background-color: #FC8F12;
}

.leaflet-sidebar-header {
	background-color: #FC8F12;
}

#map {
	flex: 3;
}

.container {
	padding-top: 30px;
}

#aboutus img {
	width: 100px;
}

.alert {
	margin: 5px;
}

h2 {
	margin: 10px 10px 30px 10px;
	font-size: 20px;
}

.img-wrapper {
	position: relative;
	margin: 15px auto;
	width: 350px;
}

.img-wrapper img {
	width: 350px;
}

.img-overlay {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.img-overlay i {
	color: #fff;
	font-size: 3em;
}

/* Lightbox */
#overlay {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	// Removes blue highlight
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#overlay img {
	margin: 0;
	max-width: 100%;
	max-height: 100%;
	height: auto;
	object-fit: contain;
	padding: 5%;

	@media screen and (min-width:768px) {
		width: 60%;
	}

	@media screen and (min-width:1200px) {
		width: 50%;
	}
}

#nextButton {
	color: #fff;
	font-size: 2em;
	transition: opacity 0.8s;

	&:hover {
		opacity: 0.7;
	}

	@media screen and (min-width:768px) {
		font-size: 3em;
	}
}

#prevButton {
	color: #fff;
	font-size: 2em;
	transition: opacity 0.8s;

	&:hover {
		opacity: 0.7;
	}

	@media screen and (min-width:768px) {
		font-size: 3em;
	}
}

#exitButton {
	color: #fff;
	font-size: 2em;
	transition: opacity 0.8s;
	position: absolute;
	top: 15px;
	right: 15px;

	&:hover {
		opacity: 0.7;
	}

	@media screen and (min-width:768px) {
		font-size: 3em;
	}
}

#one {
	background-color: rgba(166, 206, 227, 0.7);
}

#two {
	background-color: rgba(31, 120, 180, 0.7);
}

#three {
	background-color: rgba(178, 223, 138, 0.7);
}

#four {
	background-color: rgba(51, 160, 44, 0.7);
}

#five {
	background-color: rgba(251, 154, 153, 0.7);
}

#six {
	background-color: rgba(227, 26, 28, 0.7);
}

#seven {
	background-color: rgba(253, 191, 111, 0.7);
}

#eight {
	background-color: rgba(255, 127, 0, 0.7);
}

#nine {
	background-color: rgba(202, 178, 214, 0.7);
}

#ten {
	background-color: rgba(106, 61, 154, 0.7);
}
