<nav class="navbar navbar-expand-sm">
	<a class="navbar-brand" href="#">Temples of Singkawang</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/map.html">Overview Map</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/tempdir.html">Temple Directory</a>
			</li>
		</ul>
		<div class="btn-group dropleft language">
			<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Language
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">English</a>
				<a class="dropdown-item" href="#">华文</a>
				<a class="dropdown-item" href="#">Bahasa Indonesia</a>
			</div>
		</div>
	</div>
</nav>
