/* Color Theme Swatches in Hex */
.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-1-hex {
	color: #F279A6;
}

.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-2-hex {
	color: #5E88BF;
}

.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-3-hex {
	color: #12A652;
}

.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-4-hex {
	color: #F2CC0F;
}

.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-5-hex {
	color: #F2F2F2;
}

/* Color Theme Swatches in RGBA */
.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-1-rgba {
	color: rgba(242, 121, 166, 1);
}

.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-2-rgba {
	color: rgba(94, 136, 191, 1);
}

.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-3-rgba {
	color: rgba(18, 166, 82, 1);
}

.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-4-rgba {
	color: rgba(242, 204, 15, 1);
}

.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-5-rgba {
	color: rgba(242, 242, 242, 1);
}

/* Color Theme Swatches in HSLA */
.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-1-hsla {
	color: hsla(337, 82, 71, 1);
}

.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-2-hsla {
	color: hsla(214, 43, 55, 1);
}

.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-3-hsla {
	color: hsla(145, 80, 36, 1);
}

.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-4-hsla {
	color: hsla(49, 89, 50, 1);
}

.color-theme_f5bd984005ec1070c3a4c0ad7e02796b-5-hsla {
	color: hsla(0, 0, 94, 1);
}
