/*
*
* gallery
*
*/

h1 {
	padding: 20px;
}

/*! div style */

.hoverZoomLink {
	width: 150px;
}

#mapcont {
	width: 50%;
	padding-top: 28.125%;/
	/* 1:1 Aspect Ratio */
	position: relative;
	/* If you want text inside of it */
	margin: 10px;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@media screen and (max-width: 800px) {
	.box {
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.box {
		flex: 100%;
		max-width: 100%;
	}
}
